html {
	background-image: url('./assets/images/h1.jpg') no-repeat center;
	background-size: cover;
}

.ladi-page.section1 {
	position: relative;
	width: 100%;
	height: 100%;

}
.ladi-wrapper {
	width: 100%;
	height: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.bullet-number {
	color: rgba(209,209,209,1);
    font-weight: 400;
    line-height: 54px;
    opacity: 1;
    display: inline;
}
.bullet-header {
	font-size: 30px;
	color: #0051ac;
	font-size: 600;
}
.bullet-content {
	color: #000;
    margin-bottom: 10px;
}