
body, html {
	height: 100%;
}
body {
	margin: 0;
	/*overflow: hidden;*/
}
a:hover {
	text-decoration: none;
		color: #b82025;
		transition: all 0.2s;
}
/*commons*/
	/*button*/
	.btn-link:hover {
		text-decoration: none;
		outline: none;

	}
	.my-btn {
		padding: 8px 20px;
		background-color: transparent;
		color: #555;
		border-radius: 20px;
		font-size: 12px;
		border: 1px solid #fff;
		color: #fff;
		outline: none;
		text-decoration: none;
		cursor: pointer;
		min-width: 110px;
	}
	.my-btn:hover {
		background-color: #fff;
		border: 1px solid #fff;
		color: #000;
		text-decoration: none;
		color: #FFF;
	}
	.my-btn:active {
		border: 1px solid rgba(0,0,0,0.3) !important;
	    -moz-box-shadow:    inset 0px 0px 10px rgba(0,0,0,.3);
	   	-webkit-box-shadow: inset 0px 0px 10px rgba(0,0,0,.3);
	   	box-shadow:         inset 0px 0px 10px rgba(0,0,0,.3);
	}
	.my-btn.btn-positive {
		background-color: transparent;
		border: 1px solid #b82025;
		color: #b82025;
	}
	.my-btn.btn-positive:hover {
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-neutral {
		background-color: transparent;
		border: 1px solid #b82025;
		color: #b82025;
	}
	.my-btn.btn-neutral:hover {
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.search-trigger, .my-btn.form-trigger {
		min-width: unset !important;
	}
	.my-btn.search-trigger span, 
	.my-btn.form-trigger span {
		position: relative;
		top: -2px;
	}
	.my-btn.search-trigger:hover {
		color: #000;
	}
	.my-btn.btn-register {
		background-color: #6ebe44;
		border-color: #6ebe44;
		color: #fff;
	}
	.my-btn.btn-register:hover {
		background-color: #fff;
		border-color: #6ebe44;
		color: #6ebe44;
	}
	.my-btn.btn-neutral {
		background-color: #fff;
		border-color: #a0a0a0;
		color: #a0a0a0;
	}
	.my-btn.btn-neutral:hover {
		background-color: #a0a0a0;
		border-color: #a0a0a0;
		color: #fff;
	}
	.my-btn.btn-send-contact {
		/*background: #0769e0;*/
		/*border: 1px solid #0769e0;*/
		border: 1px solid #b82025;
		padding: 12px 30px;
		color: #333;
	}
	.my-btn.btn-send-contact:hover{
		background: #b82025;
		color: #fff;
	}

	.my-btn.btn-view-all {
		background-color: #00a680;
	}
	.my-btn.btn-view-all:hover {
		background-color: #00775c;
	}

	.my-btn.btn-get-voucher {
		background-color: #00a680;
		font-size: 16px;
		margin-left: 10px;
	}
	.my-btn.btn-get-voucher:hover {
		background-color: #00775c;
	}
	
	.btn-group {
		text-align: center;
		width: 100%;
	}
	.btn-respnsive:before { content:'\2630'; }
	.btn-respnsive {
		display: none;
		padding: 0;
		height: 40px;
		font-size: 28px;
		width: 40px;
		line-height: 1;
		float: right;
		padding-top: 3px;
		margin-top: 6px;
	}
	.my-btn.btn-login {
		padding: 8px 30px;
		/*background-color: #b82025;*/
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-login:hover {
		padding: 8px 30px;
		/*background-color: transparent;*/
		background-color: #b82025;
		border: 1px solid #b82025;
		color: #fff;
	}
	.my-btn.btn-add-list {
		border: 1px solid #555;
		color: #555;
		background-color: transparent;
	}
	.my-btn.btn-add-list:hover {
		border: 1px solid #555;
		background-color: #555;
		color: #FFF;
	}

	/*end button*/
/*end commons*/

/*header*/
.header {
	position: fixed;
	width: calc(100% - 15px);
	height: 50px;
	background-color: transparent;
	color: #fff;
	padding: 0 10px;
	margin-top: 3px;
	/*padding-right: 20px;*/
	z-index: 9;
	user-select: none;
}
.header-wrapper {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.6);
	color: #fff;
	border-radius: 10px;
	line-height: 2.5;
	padding: 0 10px;
}
.logo-box {
	display: inline;
	font-size: 20px;
	cursor: pointer;
	z-index: 1;
	text-decoration: none;
	color: #FFF;
}
.logo-box:hover {
	text-decoration: none;
	color: #FFF;
}
.logo-prefix {
	display: inline;
    padding: 10px;
    background: #b82025;
    border-radius: 6px;
    padding-right: 0;
    letter-spacing: 2px;
    margin-right: 5px;
}
.logo-suffix {
	display: inline;
    letter-spacing: 2px;
}
.menu-box {
	display: inline;
}
.menu-list {
	list-style: none;
	display: inline;
	padding-left: 20px;
	text-transform: uppercase;
}
.menu-list li {
	display: inline-table;
	padding: 0 6px;
	cursor: pointer;
	border-radius: 6px;
}
.menu-list li:hover {
	background-color: #b82025;
}
.menu-list a {
	color: #FFF;
	text-decoration: none;
}
.menu-list.responsive {
	background-color: rgba(0,0,0, 0.6);
	height: 100%;
	width: 100%;
	display: block;
	padding: 0;
}
.menu-list.responsive > li {
	display: block;
	padding: 0;
}
.menu-list.responsive a {
	text-decoration: none;
    text-overflow: clip;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: auto;
    color: #fff;
    padding: 10px 0px;
}
.separate {
	height: 1px;
	width: 100%;
	background-color: #fff;
	margin: 5px 0px;
}
.search-box {
	width: 250px;
	display: inline-table;
	margin-top: 8px;
}
.search-box > input {
	border-radius: 20px;
	background-color: transparent;
	display: inline-table;
	color: #fff;
}
.button-responsive {
	display: inline;
	right: 0;
}
.account-box {
	float: right;
	position: relative;
	top: 8px;
	right: 8px;
}
@media (max-width: 900px) {
	.search-box {
		/*width: 40px;*/
	}
}
@media (max-width: 820px) {
	/*minus search box*/
	.search-box {
		/*width: 40px;*/
	}
}
@media (max-width: 768px) {
	/*responsive for smaller screen device*/
	.menu-box, .account-box {
		display: none;
	}
	.logo-box {
		position: absolute;
	}
	.header-wrapper .search-box {
		position: absolute;
	    width: 100%;
	    padding-left: 135px;
	    padding-right: 70px;
	    top: 8px;
		display: inline-table;
	}
	.header {
		padding: 0;
	    margin-top: 0;
	}
	.header-wrapper {
		border-radius: 0;
	}
	.btn-respnsive {
		display: block;
		position: relative;
	}
}	
/*end header*/

/*body*/
#app {
	/*position: relative; */
	/*height: 100%;*/
	/*overflow: hidden;*/
}
.app.blur {
	filter: blur(8px);
	overflow: hidden;
}
.app.app-search {
	filter: blur(8px);
	overflow: hidden;
}
.app.app-login {
	overflow: hidden;
}
.body {
	height: 100%;
	overflow: auto;
	position: relative;
}
	/*slider*/
	.slick-slider {
		width: 100%;
		height: 100%;
		position: relative;
		margin: 0;
	}
	.slider-wrapper {
		width: 100%;
		height: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	/*end slider*/
	/*block info*/
	.block-info {
		padding: 15px;
		background-color: rgba(0,0,0,0.7);
		color: #fff;
		width: fit-content;
		position: absolute;
		bottom: 100px;
		margin-left: 50px;
		border-radius: 5px;
	}
	.slider-wrapper .block-info {
		max-width: 400px;
	}	
	.bl-title {
		font-size: 20px;
		text-align: left;
	}
	.bl-des {
		margin-top: 10px;
		font-size: 12px;
		text-align: left;
	}
	.bl-des .location i {
		margin-right: 3px;
		color: #00a680 !important;
	}
	.bl-action {
		margin-top: 10px;
		text-align: center;
	}
	.bl-action button {
		margin: 0 10px;
	}
	/*end block info*/

	/* section rank */
	.rank-content {
		/* position: absolute; */
		width: 100%;
		padding-left: 45px; 
		padding-right: 25px;
		display: table;
	}
	.rank-number {
		z-index: 1;
		width: 40px;
		height: calc(100% - 40px);
		padding-top: 9px;
		background-color: #00a680;
		color: #FFF;
		position: absolute;
		/* display: table; */
		top: 25px;
		font-size: 16px;
	}
	/* end section rank */

	/*section*/
	.section {
		text-align: center;
		display: table;
    	padding: 0 20px;
    	margin: 10px 0;
    	width: 100%;
	}
	.sec-title {
		display: table;
		width: 100%;
	}
	.sec-title ._title {
		float: left;
	}
	.sec-title ._title hr {
		margin-right: 45%;
	    border-top: 1px solid #333;
	    margin-bottom: 30px;
	}
	.sec-title a {
		float: right;
		padding-top:28px;
	}

	.section.newest {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
	.section.newest .slick-dots {
		bottom: -25px;
	}
	.section-header {
		font-size: 30px;
	    text-align: left;
	    font-weight: 600;
	    word-spacing: 5px;
	    letter-spacing: 5px;
	    border-bottom: 1px solid;
	    width: 250px;
	    margin-bottom: 20px;
	}
	.section-foryou-inner {
		box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.4);
		border: 1px solid rgba(0,0,0,0.4);
	    border-radius: 8px;
	    padding: 30px 20px 30px 15px;
	}


	/* section contact */
	.section-contact {
		text-align: left;
		padding: 0 !important;
	}
	.section-contact .main-form .line-form .label {
		position: absolute;
		bottom: 14px;
		left: 0;
		color: #000;
		font-size: 0.875em;
		font-weight: bold;
		text-transform: uppercase;
	}
	.section-contact .wrap-select {
		display: block;
		position: relative;
		background-color: transparent;
		width: 100%;
		height: 47px;
	}
	.wrap-select select {
		position: relative;
		z-index: 2;
		background-color: transparent;
		padding-right: 20px;
		border: 0 none;
		box-shadow: none;
		font-weight: normal;
		padding: 14px 0;
		outline: none;
		width: 100%;
		/* -webkit-appearance: none; */
	}
	.section-contact .main-form .line-form {
		position: relative;
		margin-bottom: 12px;
		padding-left: 130px;
		border-bottom: 1px solid #ccc;
		
	}
	.section-contact .line-form .input {
		display: block;
		font-weight: normal;
		background-color: transparent;
		width: 100%;
		padding: 13px 0 14px;
		font-size: 16px;
		border: none;
		box-shadow: none;
		outline: none;
	}
	.section-contact .main-form .line-form .label i {
		color: #f00;
		font-size: 18px;
	}
	.section-contact h2 {
		display: block;
		margin-bottom: 40px;
		color: #000;
		font-size: 3em;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.section-contact .form-container {
		position: relative;
		margin: 30px 0 0;
		top: unset;
		left: unset;
		transform: none;
		width: 100%;
		height: unset;
	}
	.section-contact .form-container .main-form {
		float: left;
		width: 62%;
		margin-top: -18px;
	}
	.section-contact .form-container .beside-info {
		float: right;
		width: 38%;
		padding-left: 50px;
		/* padding-top: 10px; */
		padding-bottom: 50px;
	}
	.section-contact .form-container .beside-info p {
		display: block;
		position: relative;
		color: #000;
		font-size: 1.375em;
		font-weight: 300;
		line-height: 1.7;
	}
	.section-contact .form-container .beside-info p:before {
		position: absolute;
		top: 4px;
		bottom: -4px;
		left: -15px;
		content: "";
		z-index: 1;
		background-color: #000;
		width: 2px;
	}
	@media(max-width: 768px) {
		.section-contact .form-container .main-form,
		.section-contact .form-container .beside-info {
			width: 100%;
		}
	}
	/* end section contact */
	/* section paper */
	.paper .container{
		padding: 0;
	}
	.paper .row {
		margin: 0;
	}
	.paper .col-md-8 {
		/*padding-right: 2px;*/
	}
	.paper .col-md-4 {
		/*padding-left: 2px;*/
	}
	/* end section paper */
	/* section about */
	.section-about {
		text-align: left;
		padding: 0 !important;
	}
	.section-about .title {
		display: block;
		margin-bottom: 40px;
		color: #000;
		font-size: 3em;
		font-weight: 300;
		letter-spacing: 3px;
	}
	.side-left {
		width: 38%;
		float: left;
	}
	.side-right {
		width: 62%;
		float: left;
	}
	/* end section about */
	.footer {
		position: relative;
		z-index: 3;
		width: 100%;
	}
	.footer .footer-container {
		position: relative;
		padding: 60px 0;
	}

	.footer .footer-container {
		position: relative;
		padding: 60px 0;
	}
	.footer .social-container {
		width: 12.5%;
		margin-bottom: 25px;
	}
	.footer .social-container ul {
		text-align: left;
		font-size: 0;
		padding-left: 0;
	}
	.footer .social-container ul li {
		display: inline-block;
		width: 33.33333%;
		text-align: center;
	}
	.footer .social-container ul li:first-child {
		margin-right: 0;
		text-align: left;
	}
	.footer .social-container ul li:last-child {
		margin-right: 0;
		text-align: right;
	}
	.footer .social-container ul li .func-social {
		display: block;
		width: 32px;
		height: 32px;
		cursor: pointer;
		-webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		text-decoration: none;
	}
	.footer .social-container ul li .func-social:hover {
		opacity: 0.75;
		filter: alpha(opacity=75)
	}
	.footer .nav-footer {
		margin-bottom: 40px;
	}
	.footer .nav-footer ul {
		font-size: 0;
		padding-left: 0;
	}
	.footer .nav-footer ul li {
		display: inline-block;
		width: 12.5%;
		padding-right: 3.125%;
		vertical-align: top;
	}
	.footer .nav-footer ul li a {
		color: #000;
		font-size: 16px;
		font-weight: normal;
		outline: 0;
		cursor: pointer;
		-webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		-moz-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
		text-decoration: none;
	}
	.footer .nav-footer ul li a:hover {
		color: #0769e0
	}
	/*end section*/

	/*container*/
	.container-left {
		width: 63%;
		float: left;
		padding-right: 10px;
	}
	.container-right {
		width: 37%;
		float: right;
		padding-left: 10px;
	}
	/*end container*/

	/* icon */
	.ic {
		display: inline-block;
		background-image: url(../images/icon/main_sprites.png);
		background-size: 150px 150px;
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;
		vertical-align: middle;
		text-indent: -9999px;
	}
	.ic.ic-zalo {
		background-position: 0 0;
		width: 32px;
		height: 32px;
	}
	.ic.ic-fb {
		background-position: -32px 0;
		width: 32px;
		height: 32px;
	}
	.ic.ic-youtube {
		background-position: -64px 0;
		width: 32px;
		height: 32px;
	}
	/* end icon */

	/*block*/
	.block {
		display: inline-table;
		margin: 2px;
		background-repeat: round;
		border-radius: 15px;
		position: relative;
		text-align: left;
	}
	.block.lg {
		width: 100%;
		height: 360px;
	}
	.block.lg .bl-title {
		font-size: 30px;
	}
	.block.lg .bl-des {
		font-size: 16px;
	}

	.block.md {
		width: 100%;
		height: 170px;
	}
	.block.md .bl-title {
		font-size: 24px;
	}
	.block.md .bl-des {
		font-size: 15px;
	}
	.block.sm {
		width: 100%;
		height: 170px;
	}
	.block.sm .bl-title {
		font-size: 20px;
	}
	.block.sm .bl-des {
		font-size: 14px;
	}
	.block.md-4 {
		width: 310px;
		height: 270px;
		
	}
	.block.md-2 {
		width: 150px;
		height: 130px;
	}
	.block.md-3 {
		width: 260px;
		height: 200px;
	}
	.block.md-3 .bl-title {
		font-size: 20px;
	}
	.block.md-3 .bl-des {
		font-size: 14px;
	}
	.block.md-2 .bl-title {
		font-size: 18px;
	}
	.block.md-2 .bl-des {
		font-size: 12px;
	}
	.flat {
		height: 100px;
	}
	.block.fit {
		width: 100%
	}

	.overlay {
		background: linear-gradient(rgba(255, 255, 255, 0),     
			rgba(56, 56, 56, 0.0),     
			rgba(56, 56, 56, 0.7),      
			rgba(0, 0, 0, 0.8));
		width: 100%;
		height: 100%;
		position: absolute;
		border-radius: 15px;
		cursor: pointer;

		-webkit-transition: 1s ;
		-moz-transition: 1s ;
		-ms-transition: 1s ;
		-o-transition: 1s ;
		transition: 1s ;

	}
	.top{
		top:auto !important;
	}
	.bottom{
		bottom: 0;
	}
	.newest h3{
		text-transform: uppercase;
		text-align: left;
	}
	.block-description {
		position: absolute;
	    width: 100%;
	    bottom: 0;
	    z-index: 1;
	    padding: 15px;
	    color: #fff;
	}

	.block.md-4 .bl-action {
		display: none;
	}

	.block.md-4.hover {

	}
	.block.md-4.hover .overlay {
		/*background-color: rgba(0, 0, 0, 0.8);*/
	}
	.block.md-4.hover .block-description {
		top: 0;
	}
	.block.md-4.hover .bl-action {
		display: block;
	}
	.section.plan .bl-title {
		font-size: 18px;
		letter-spacing: 2px;
	}

	@keyframes block-hover {
	    0%   {bottom: 0;}
	    50%   {top: 100px;}
	    100% {top: 0;}
	}
	/*end block*/


/*end body*/

/*side man*/
.side-menu {
	width: 0px;
	position: absolute;
	top: 0;
	z-index: 1;
	height: 100%;
	padding-top: 50px;
	float: right;
}
.side-menu-wrapper {
	width: 0;
	height: 100%;
	float: right;
	-webkit-transition: 0.5s ;
	-moz-transition: 0.5s ;
	-ms-transition: 0.5s ;
	-o-transition: 0.5s ;
	transition: 0.5s ;
}
.side-menu.show {
	width: 100%;
}
.side-menu.show .side-menu-wrapper {
	width: 250px;
}
.side-menu.show .menu-list.responsive {
	padding: 0 10px;
}
.side-menu.show .menu-list.responsive a {
	padding: 10px 10px;
}
/*end side menu*/

/*seach*/
#search {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	padding: 20px;
}
.search {
	display: none;
}
.search .search-box {
	width: 100%;
    padding: 0 25px;
}
.search.show {
	display: block;
}
.search-close {
	position: absolute;
	right: 20px;
	top: 20px;
	z-index: 99;
}
.search-close > .my-btn {
	font-size: 20px;
    padding: unset;
    width: 35px;
    height: 35px;
}
.search-result {
	padding: 20px 50px;
}
@media (max-width: 768px) { 
	.search-result {
		padding: 20px 0px;
	}
}
.search-block {
	width: 100%;
	height: 100px;
	position: relative;
	display: table;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #fff;
	text-decoration: none;
}
.search-block:hover {
	background-color: rgba(255,255,255, 0.2);
	text-decoration: none;
}
.search-block > .image {
	float: left;
	width: 95px;
	height: 95px;
	border-radius: 5px;
	object-fit: cover
}
.search-block > .content {
	padding-left: 120px;
	width: 100%;
	height: 100%;
	text-align: left;
}
.search-block .block-description {
	position: relative;
	top: 0;
	padding: 0;
}
.search-block .bl-title {
	font-size: 20px;
}
.search-block .bl-des {
	font-size: 14px;
	margin: 0;
}
/*end search*/

/*login*/

.form-container {
    margin: 0 auto;
    height: 70%;
    width: 80%;
  	background: #fff;
  	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	padding: 30px;
}
.form-close {
	position: absolute;
	right: 2px;
	top: 2px;
}
.form-close > .my-btn {
    font-size: 30px;
    padding: unset;
    width: 35px;
    height: 35px;
    color: #000;
    line-height: 1;
}
.form-close > .my-btn:hover {
	border-color: #000;
}
#login {
	position: fixed;
	top: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
.login {
	display: none;
}
.ad-box {
	width: 60%;
	float: left;
	height: 100%;
}
.form-box {
	width: 40%;
	float: right;
	height: 100%;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}
.form-wrapper {
	padding: 10px;
	border: 1px solid #a0a0a0;
	height: 100%;
	position: relative;
}
.form-wrapper .slick-list { /* overide slick css */
	height: 100%; 
}
.form-wrapper .col-sm-3 { /* overide bootstrap css */
	padding-left: 0;
	padding-right: 0;
}
.form-wrapper button {
	min-width: 150px;
}
.ad-section {
	width: 100%;
	height: 100%;
	position: relative;
}
.ad-section .overlay {
	border-radius: 0;
	background:linear-gradient(rgba(255, 255, 255, 0),  
		rgba(56, 56, 56, 0.0),  rgba(56, 56, 56, 0.2),   rgba(0, 0, 0, 0.97));
}
.ad-section .block-description {
	bottom: 15px;
	top: unset;
	text-align: left;
}
@media (max-width:  768px) {
	.ad-box {
		display: none;
	}
	.form-box {
		width: 100%;
	}
}
/*end login*/

/*magazine*/
.magazin-list {
	padding: 0;
	list-style: none;
}
.maga-item {
	height: 170px;
	border-bottom: 1px solid #dcdcdc;
}
.maga-left {
	position: relative;
	z-index: 1;
	width: 150px;
	height: 150px;
	float: left;
}
.maga-left img {
	width: 100%;
	height: 100%;
	border-radius: 8px;
}
.maga-right {
	height: 100%;
	width: 100%;
	text-align: left;
	padding-left: 160px;
	position: relative;
}
.maga-info {
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.post-controls {
	position: absolute;
	bottom: 0;
	font-size: 12px;
    /* padding-left: 20px; */
}
.post-controls > span,
.page-controls > span {
	margin-right: 20px;
	color: #555;
}
.post-controls a {
	margin-right: 20px;
	text-decoration: none;
}
.page-controls {
	padding: 20px 0px;
    border-top: 1px solid #00000020;
    border-bottom: 1px solid #00000020;
}
.page-controls a {
	margin-right: 20px;
	text-decoration: none;
}
/*end footer*/

/* article */
.article-header {
	
}
/* end article */

/* bullet */
.bullet-number {
	color: rgba(209,209,209,1);
    font-weight: 400;
    line-height: 54px;
    opacity: 1;
    display: inline;
    margin-right: 10px;
}
.bullet-header {
	font-size: 30px;
	color: #0051ac;
	font-size: 600;
}
.bullet-content {
	color: #000;
    margin-bottom: 10px;
}

/*overide*/
	/*slick*/
	.slick-slide {
		outline: none;
	}
	.slick-list.draggable {
		height: 100%;
	}
	.slick-track {
		height: 100%;
	}
	.slick-dots {
		bottom: 15px;
	}
	.slick-prev, .slick-next {
		padding: 0 10px;
	    width: auto;
	    /*background: rgba(0, 0, 0, 0.2);*/
	    height: 100%;
	}
	.slick-prev {
		left: -35px;
		z-index: 1;
	}
	.slick-next {
		right: -35px;
	}
	.slick-prev:hover, .slick-next:hover {
	    /*background: rgba(0, 0, 0, 0.4);*/
	}
	.slick-dotted.slick-slider {
		margin-bottom: 0 !important;
	}
	/*end slick*/

	/*form bootstrap*/
	.form-horizontal .form-group {
		margin-left: 0;
		margin-right: 0;
	}
	/*end form bootstrap*/
/*end overide*/

/*Singlepage*/
.landing-page .content ul {
	padding: 0;
}
.landing-page .content ul li{
	margin-bottom: 20px;
}
.seperate {
	background: #3e94d0;
	padding: 10px 40px;
    position: relative;
}
.seperate h2 {
    font-size: 28px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: normal;
}
.seperate p {
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
}
.image-box {
	background-origin: content-box;
    background-size: 100%;
    background-attachment: scroll;
    background-position:center;
	background-repeat: no-repeat;
	padding: 0;
}
.content-box {
	display: table;
}
.detail-box {
	display: table-cell;
	vertical-align: middle;
	padding: 0 40px;
}
.room1 {
	background-image: url('../images/room1.jpg');
}
.room2 {
	background-image: url('../images/room2.jpg');
}
.room3 {
	background-image: url('../images/room3.jpg');
}
.room4 {
	background-image: url('../images/room4.jpg');
}
.tmp-room {
	height: 330px;
}
.landing-page.room-box {
	border-bottom: 1px solid #ccc;
}
.food1 {
	background-image: url('../images/food1.jpg');
}
.food2 {
	background-image: url('../images/food2.jpg');
}
.food3 {
	background-image: url('../images/food2.jpg');
}

.meeting1 {
	background-image: url('../images/meeting1.jpg');
}

.fam1 {
	background-image: url('../images/fam1.jpg');
}
.fam2 {
	background-image: url('../images/fam2.jpg');
}

.fet1 {
	background-image: url('../images/fet1.jpg');
}
.fet2 {
	background-image: url('../images/fet2.jpg');
}
.fet3 {
	background-image: url('../images/fet3.jpg');
}
/* /// */
.ladi-page{
	
	width: 100%; 
	height: 100%; 
	overflow-y: auto;
}
.first-box{
	background-image: url('../images/h1.jpg') ;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.train-box{
	background-color: rgba(30,77,127,0.6); 

	height: 100%;
	padding: 10%;

}
.safari-logo{
	text-align: center;
	margin-bottom: 10%;
}
.description h1{
	font-family: 'Montserrat', sans-serif;
	color: rgb(242,187,53); 
	font-weight: 500; 
	text-transform: uppercase;
	font-size: 150%;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
.description p{
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	color: #FFF; 
	font-size: 16px;
}
.box-2-main, .box-3-main{
	height: 566px;
	overflow: hidden;
}
.box-3-main .box-2-content{
	margin-left: 0;
	padding-left: calc(10% - 15px);
}
.back-box-2{

	background-image: url('../images/h15.jpg');
  	background-origin: content-box;
    background-size: auto 100%;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}
.back-box-3{
	background-image: url('../images/h13.jpg');
  	background-origin: content-box;
    background-size: auto 100%;
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
}
.tmp{
	height: 566px;
}
.box-2-content{
	padding: 10%;
	/* margin-left: 25%; */
	font-family: 'Montserrat', sans-serif;
}
.title h4{
	color: #0051ac;
	font-weight: 600px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}
.content li{
	list-style-type: none;
}
.li-title{
	/*width: 80%;*/
	height: 54px;
}
.li-title p{
	color: #0051ac;
	text-transform: uppercase;
	font-size: 20px;
	
}
.li-num{
	width: 20%;
    height: 54px;
	float: left;
	position: relative;
	top: -12px;
}
.li-num h1{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(209, 209, 209, 1);
    font-weight: 400;
    line-height: 54px;
    font-size: 48px;
    text-align: center;
    
}
.li-content {
	padding: 5%;
	padding-top: 10px;
	width: 90%;
}
.border{
	text-align: center;
}
.border hr{
	width: 30%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-top: 1px solid  #0051ac;
}
.video-section{
	background: url('../images/h17.jpg');
}
.video-section .container{
	position: relative;
}
.video-section .content{
	position: absolute;
	top: 0;
	left: 25%;
	padding: 5%;
	width: 50%;
	background: #fff;
	text-align: center;
	height: 450px;
}
.video-section .content h3{
	text-align: center;
	text-transform: uppercase;
	color: #0051ac;
	
}
.video-section .content hr{
	margin-top: 20px;
	margin-bottom: 20px;
}
.video-section .content strong{
	text-align: center;
	
	font-size: 115%;
}
.video-section .content p{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.parallax {
    height: 500px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
 .galary{
 	height: 150px;
 	overflow: hidden;
 	padding: 0;
 	cursor: pointer;
 }
  .galary img, .galary-item img{
	  width: 100%;
	  object-fit: cover; 	
 }
 .galary img {
	 padding: 2px;
 }
 .col-md-4.galary {
	 height: 200px;
	 padding: 3px;
 }
 .row.travel {
	 margin: 0;
	 padding: 0 100px;
 }
 .row.travel > ul > li:not(:last-child) {
	 margin-bottom: 40px;
 }
 .row.travel .tral-content ul {
	 list-style-type: disc;
	 padding-left: 40px;
 }
 .row.travel .tral-content ul li {
	list-style-type: disc;
 }
 .tral-title {
	 font-size: 18px;
	 font-weight: 700;
 }
 .tral-image {
	 text-align: center;
	 margin-top: 20px;
	 margin-bottom: 20px;
 }

 .tral-image > img {
	 width: 60%;
	 object-fit: cover;
 }

 .galary-slider{
 	position: fixed;
 	top: 0;
    left: 0;
    right: 0;
    background: #000;
    z-index: 1;
 }
 .galary-slider h1{
 	text-align: right;
 }
 .close-slider{
 	color: #fff;
 	margin-right: 20px;
 	cursor: pointer;
 }
 .slick-slide {
		opacity:0;
		transition:opacity 1s ease-out;
	}
  
.slick-active {
		opacity:1!important;
		transition:opacity 1s ease-in;
	}
  
.slick-cloned {
  opacity: 0.3;
}
div{
	box-sizing:border-box;
}
@media screen and (max-width: 800px) {
	.slick-slider{
		margin:0 !important;
	}
	.box-2-content{
		padding: 0 !important;
		margin: 0 !important;

	}
	.video-section .content{
		width: 85% !important;
		left: 7% !important;
	}
	.galary{
		padding: 5px !important;
	}
	.ads{
		height: 450px !important;
	}
	.blog{
		height: 400px !important;
	}
	.blog-text{ height: 35% !important}
	.festival{
		margin: 0 !important;
	}
	
}
/*Singlepage*/
	/*Index Han's code*/
	/* jssor slider loading skin spin css */
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }
        #jssor_1{
        	position:relative;
        	margin:0 ;
        	top:0px;
        	left:0px;
        	width:980px;
        	height:380px;
        	overflow:hidden;
			visibility:hidden;
			
			/* margin top - menu bar */
			margin-top: 50px;
        }
        .jssor_1_1{
        	cursor:default;
        	position:relative;
        	top:0px;
        	left:0px;
        	width:980px;
        	height:380px;
        	overflow:hidden;
        }
        .jssorb111 .i {
		    position: absolute;
		    color: #fff;
		    font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
		    text-align: center;
		    cursor: pointer;
		    z-index: 0;
		}
		.jssorb111 .i .n {
		    display: none;
		}
		.jssorb111 .i .b {
		    fill: #fff;
		    stroke: #000;
		    stroke-width: 500;
		    stroke-miterlimit: 10;
		    stroke-opacity: .5;
		}
		.jssorb111 .i:hover .b {
		    fill: #fea900;
		    stroke: #fea900;
		    stroke-width: 6000;
		    stroke-opacity: 1;
		}
		.jssorb111 .iav .b {
		    fill: #000;
		    stroke-width: 6000;
		    stroke-opacity: 1;
		}
		.jssorb111 .i.idn {
		    opacity: .3;
		}
		.jssorb111 .iav .n,
		.jssorb111 .i:hover .n {
		    display: block;
		}
		.jssort121 .p {
		    position: absolute;
		    top: 0;
		    left: 0;
		    border-bottom: 1px solid rgba(255, 255, 255, .2);
		    box-sizing: border-box;
		    color: #fff;
		    background: rgba(0, 0, 0, .1);
		    opacity: 1;
		}
		.jssort121 .p .t {
		    position: absolute;
		    padding: 10px;
		    box-sizing: border-box;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    line-height: 24px;
		    overflow: hidden;
		}
		.jssort121 .p .i {
		    margin-right: 10px;
		    position: relative;
		    top: 0;
		    left: 0;
		    width: 96px;
		    height: 48px;
		    border: none;
		    float: left;
		}
		.jssort121 .pav,
		.jssort121 .p:hover {
		    color: #000;
		    background: rgba(255, 255, 255, .7);
		}
		.jssort121 .p:hover {
		    opacity: .75;
		}
		.jssort121 .pav,
		.jssort121 .p:hover.pdn {
		    opacity: 1;
		}
		.jssort121 .ti {
		    position: relative;
		    font-size: 10px;
		    font-weight: bold;
		}
		.jssort121 .d {
		    position: relative;
		    font-size: 12px;
		}
        /*.jssort121 .d:before {content:'\a';white-space:pre;}*/

/*HOME*/
	.news-item{
		cursor: pointer;
		margin: 0 1px;
		transition: opacity linear 100ms;
	}
	.news-item:after {
		content: '';
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    height: 100px;
	    background-image: -moz-linear-gradient(top,rgba(0,0,0,0.02) 0,#000 100%);
	    background-image: -o-linear-gradient(top,rgba(0,0,0,0.02) 0,#000 100%);
	    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#FFF),color-stop(100,#000));
	    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0.02) 0,#000 100%);
	    background-image: linear-gradient(to bottom,rgba(0,0,0,0.02) 0,#000 100%);
	}
	.news-item:hover, .news-item .figure:hover {
		opacity: 0.9;
	}
	.news-item .figure img{
		height: 100%;
	}
	.news-item .figure{
		height: 250px;
		overflow: hidden;
		width: 100%;
		transition: opacity linear 100ms;
	}
	.news-item{
		position: relative;
	}
	.box-text{
		position: absolute;
    	bottom: 12%;
    	left: 5%;
    	width: 50%;
    	background: rgba(0,0,0,0.7);
    	padding: 3%;
	}
	.box-text a {
		color: #fff;
	}
	.box-text h4{
		color: inherit;
		text-transform: uppercase;
		/*font-size: 90%;*/
	}
	.box-text i{
		color: #fff;
    	font-size: 85%;
	}
	.box-text .location {
		color: #FFF;
		font-size: 10px;
		margin-top: 10px;
	}
	.location i {
		font-size: 14px;
		margin-right: 5px;
		color: #00a680 !important;
	}
	.location {
		display: block;
		
	}
	.block-description .location {
		padding-top: 4px;
	}
	.rating {
		display: inline;
		border-radius: 4px;
	}
	.rating.score {
		background: #00a67f;
		padding: 3px;
		color: #FFF;
		position: relative;
		z-index: 1;
		padding-left: 7px;
	}
	.rating.number {
		padding: 2px;
		border-radius: 0px;
		padding-left: 10px;
		padding-right: 5px;
		position: relative;
		left: -5px;
		background: #FFF;
		font-size: 10px;
	}
	.rating.number .-number {
		color: #000;
	}
	.box-text hr {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.box-text a:hover {
		color: #b82025 !important;
	}
	.place{
		width: 380px;
		height: 250px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
	}
	.news{
		margin-bottom: 30px;
		margin-top: 30px;
	}
	.place img{
		height: 100%;
		position:absolute;
		left: 0;
		right: 0;
		margin: auto;
	}
	.places h3{
		text-align: center;
		text-transform: uppercase;
		font-weight: 500;
		
	}

	.place p{
		position: absolute;
		top:45%;
		width: 100%;
		font-size: 125%;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
	.place-hover{
		background: rgba(0,0,0,0.7);
		padding: 10px;
	}
	.advertise{
		margin-top: 30px;
	}
	.ads{
		height: 300px;
		overflow: hidden;
		position: relative;
	}
	.ads-images{
		/*width: 50%;*/
		/*float: left;*/
		overflow: hidden;
		position: relative;
	}
	.ads-images img{
		width: 100%;
		
	}
	
	.ads-text{
		/*width: 50%;*/
		height: 100%;
		/*float: right;*/
		/*padding: 8%;*/
	}
	.ads-text a {
		text-decoration: none;
	}
	.ads-text h3{
		text-transform: uppercase;
		color: #b82025;
		margin-top: 0 !important;
		/*font-size: 22px;*/
	}
	
	.group-get-voucher{
		/*margin-top: 20px;
    	text-align: right;*/
    	padding-top: 30px;
	}
	.group-get-voucher .discount-rate {
		float: left;
		color: #00a680;
	    font-weight: 700;
	    font-size: 20px;
	    position: relative;
	    top: 6px;
	}
	.paper{
		margin-top:30px; 
		margin-bottom:30px; 
	}
	.ul-blog,.ul-fes{
		padding-left:0 !important 
	}
	.ul-blog li,.ul-fes li{
		list-style-type: none;
	}
	.ul-blog li:last-child{
		border: none;
	}
	.blog-img{
		padding: 0;
	}
	.blog-img img{
		width: 100%;
		height: 140px;
		object-fit: cover;

	}
	.blog-text{
		position: relative;
		height: 100%;
		padding:0 ;
		padding-left: 20px; 
	}
	.blog-text .title{
		font-size: 125%;
	}
	.blog-text .des, {
		padding-top: 5px;
	}
	.blog-text .title:hover{
		text-decoration: none;
		color: #b82025;
	}
	.blog-foo{
		text-align: right;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
    .blog-foo strong{
    	float: left;
    }
	.blog{
		border-bottom: 1px solid #dcdcdc;
		padding-bottom: 10px;
		height: 150px;
		overflow: hidden;
		margin-bottom: 20px;
		padding-right: 5px;
	}
	@media(max-width: 992px) {
		.blog-text {
			padding-left: 0;
			height: auto;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
		}
		.blog {
			height: auto !important;
			padding-right: 0 !important;
		}
		.blog-img img {
			height: 220px !important;
		}
		.post-controls {
			position: relative;
			bottom: unset;

		}
	}
	.paper h3{
		text-transform: uppercase;
		font-weight: 500;

	}
	.fes img{
		width: 100%;
	}
	
	.fes-info {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 1;
		color: #FFF;
		padding: 4px;
		background-color: #0000007a;
	}
	.fes-info p {
		text-transform: uppercase;
		margin-bottom: 5px;
		font-size: 16px;
	}
	.fes-info .location {
		font-size: 12px;
	}
	.fes-info .location i {
		width: 15px;
		text-align: center;
	}
	.fes img:hover {
		filter: brightness(0.9);
	}
	.fes-info:hover {
		color: #ccc;
	}
	.fes{
		padding:0;
		position: relative;
		margin-bottom: 10px;
	}
	.section-festival .btn-group{
		margin-top: 5px;
	}
	.sec-footer{
		border-top: 1px solid #dcdcdc;
		background: #bfbdbd;
	}
	/*Custom scrollbar*/
	.style-15::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
		background-color: #F5F5F5;
		border-radius: 10px;
	}

	.style-15::-webkit-scrollbar
	{
		width: 10px;
		background-color: #F5F5F5;
	}

	.style-15::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		background-color: #F90;	
	background-image: -webkit-linear-gradient(45deg,
	                                          rgba(255, 255, 255, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(255, 255, 255, .2) 50%,
											  rgba(255, 255, 255, .2) 75%,
											  transparent 75%,
											  transparent)
	}
	.scrollbar{
		height: 350px;
		overflow-y: scroll;
	}
	.vertical-scrollbar-demo {
            height: 350px;
            overflow: hidden;
        }
    .social-icon{
    	width: 70px;
    	height: 70px;
    	margin-right: 10px;
    }
    .social-icon img{
    	width: 100%;
    }
/*HOME*/ 
/*Magezine*/ 
.content-list {
		display: block !important;
		position: absolute;
		height: 100%;
		z-index: 2;
		right: 20px;
		padding-top: 100px;
		padding-bottom: 20px;
	}
	.content-list .wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		border-radius: 10px;
		background: #555;
		padding: 10px;
		color: #FFF;
	}
	
	.content-list .title {
		border-bottom: 2px solid #00000040;
   		width: 140px;
	}
	.content-list .title::before {
		position: absolute;
		content: "";
		z-index: 1;
		background-color: #FFF;
		width: 80px;
		height: 2px;
		top: 39px;
	}
	.content-list .wrapper ul {
		padding-left: 20px;
		list-style: none;
	}
	.content-list .wrapper ul li {
		margin: 5px 0px;
	}
	.content-list .wrapper ul a {
		text-decoration: none;
		color: #FFF;
		transition: all 0.1s;
	}
	.content-list .wrapper ul a:hover {
		color: #428bca;
	}
	.content-list .minus {
		position: absolute;
		right: 5px;
		top: 3px;
		background: transparent;
		border: none;
		font-size: 18px;
		border-radius: 99px;
		width: 30px;
		height: 30px;
		outline: none;
	}
	.content-list .minus:hover {
		background: #FFF;
		color: #000000;
	}
	.content-list .maxis {
		font-size: 40px;
		width: 50px;
		height: 50px;
		border-radius: 99px;
		background: #999;
		text-align: center;
		line-height: 0;
    	box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.4);
		cursor: pointer;
		user-select: none;
		display: none;
		transition: all 0.3s;
	}
	.content-list.show .wrapper {
		display: block;
	}
	.content-list.show .maxis {
		display: none;
	}
	.content-list.hide .wrapper {
		display: none;
	}
	.content-list.hide .maxis {
		display: block;
	}
	.breadcrum{
		margin-top: 50px;
	}
	.breadcrum ul {
		padding: 0;
	}
	.breadcrum li{
		float: left;
		list-style-type: none;
	}
	.breadcrum a:hover{
		color: #b82025 !important;
		text-decoration: none;
	}
	.breadcrum{
		padding-top: 20px;
		padding-bottom: 20px;
		background: #f5f5f5;
	}
	.breadcrum i{
		margin-left: 10px;
		margin-right: 10px;
	}
	.index{
		background: #f7f7f7;
		padding: 10px;

	}
	.index li{
		list-style-type: none;
	}
	.index i{
		margin:0 10px;
	}
	.index .count{
		color: #b82025;
	}
	.index a:hover{
		color:#b82025;
		text-decoration: none;
	}
	.hideIndex{
		cursor: pointer;
	}
	.article-view img{
		width: 100%;
	}
	.related h3{
		text-align: left;
		/* text-transform: uppercase; */
	}
	.related .scrollbar{
		height: 450px;
		overflow-y: scroll;
	}
	.related .vertical-scrollbar-demo {
            height: 450px;
            overflow: hidden;
        }
    .related-post img{
    	width: 100%;
		padding: 10px;
		height: 100%;
		object-fit: cover;
    }
    .figure{
    	height: 240px;
    	width: 360px;
    	overflow: hidden;

    }
    .mini-title{
    	padding: 0 20px;
    }
    .mini-title a{
    	font-size: 125%;
    	font-weight: 600;
    	color: #616161;
    }
    .mini-title span{
    	color: #999999;
    }
    .mini-title i{
    	margin-right: 10px;
    }
    .fool{
    	z-index: -1;
    }
    .contact-logo{
    	background: #101010;
    	height: 80px;
    	position: relative;
    	text-align: center;
    }
    .contact-logo a{
    	
    	line-height: 80px;
    }
    .pagination{
    	float: right;
    }
    .pagination li{
    	float: left;
    	list-style-type: none;
    	width: 32px;
    	height: 32px;
    	border: 1px solid #b82025;
    	border-radius: 15px;
    	text-align: center;
    }
    .pagination a{
    	line-height: 32px;
    	color: #b82025;
    }
    .pagination .active{
    	color: #fff !important;
    	background: #b82025;
    }
    .pagi-hover{
    	text-decoration: none !important;
    	color: #fff !important;
    	background: #b82025;
    }
    .pagination li:hover{
    	text-decoration: none;
    	color: #fff;
    	background: #b82025;
    }
/*Magazine*/




/* RANK TOP 25 */
.section.top25 {
	/* margin-top: 50px; */
	padding: 10px 0;

}
.top25 .top25-header {
	display: table;
	width: 100%;
}
.top25 .top25-logo {
	position: absolute;
	width: 100px;
	/* height: 80px; */
	color: #FFF;
	font-size: 18px;
	background-color: #00a680;
	z-index: 1;
}
.top25-logo ._brand {
	padding: 10px;
}
.top25 ._top25 {
	font-size: 28px;
}
.top25 .title {
	text-align: left;
	padding-left: 110px;
}
.top25 .title h1 {
	font-size: 30px;
	color: #00a680;
}

.top25-body {
	margin-top: 40px;
}
.top25-item {
	margin: 10px 0;
}
.top25-item .col-sm-6 {
	padding-left: 0;
	padding-right: 10px;
}
.top25-item .col-xs-4 {
	padding: 0 8px;
}
.top25-item img {
	width: 100%;
}
.top25-item .main-img {
	height: 350px;
	object-fit: cover;
}
.top25-item .sub-img {
	width: 100%;
	height: 120px;
	object-fit: cover;
}
.top25-item ._right {
	padding-left: 10px;
}
.top25-item .btn-group {
	margin-top: 30px;
	text-align: left;
}
.top25-item .btn-group .my-btn:first-child {
	margin-right: 30px;
}
.item-header {
	position: relative;
	min-height: 45px;
}
.item-header .rank-number {
	top: 2px !important;
	height: calc(100% - 4px);
}
.item-header .location {
	padding-top: 5px;
}
.item-header .rating.number {
	background-color: #efefef;
}
.item-header .bl-title {
	color: #000;
	text-decoration: none;
}
.item-header .bl-title h4 {
	margin-top: 0;
	margin-bottom: 0;
}
.item-header .bl-des {
	margin-top: 5px !important;
}
.item-des {
	margin-top: 20px;
	text-align: left;
}
.qout {
	font-size: 20px;
	color:#00a680;
}
@media(max-width: 768px) {
	.top25-item ._right {
		padding: 0;
		padding-top: 10px;
	}
	.top25-item {
		margin-bottom: 30px;
	}
	.top25-item ._right .col-xs-4:last-child {
		padding-left: 0;
	}
	.top25-item ._right .col-xs-4:last-child {
		padding-right: 0;
	}
	.top25-item .btn-group {
		text-align: center;
	}
}
/* END RANK TOP 25 */



/* PLACE */
.section.sec-place {
	margin-top: 50px;
	margin-bottom: 70px;
	padding: 0 !important;
	text-align: left !important;
}
.fixedHead {
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    background-image: url(../images/nha-trang.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% -215px;
    z-index: 100;
}
.shadower {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00a680;
    opacity: 0;
    z-index: 15;
}
.falseHeader {
    background: #00a680;
    display: block;
    position: relative;
    top: 500px;
    height: 70px;
    width: 100%;
    z-index: 10;
    transition: height 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
.clipped {
    position: fixed;
    top: 50px;
    height: 40px;
}
.clipped .headerUp {
    transform: translateY(-100px);
}
.clipped .menu {
    line-height: 75px;
}
.menuContainer {
    display: block;
	width: 100%;
	height: 100%;
    margin: 0 auto;
	z-index: 10;
	display: table;
}
.paralax-menu {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
    transition: all 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}
.paralax-menu .location {
	color: #FFF;
	font-size: 20px;
}
.paralax-menu .location i {
	font-size: 25px;
	color: #FFF !important;
}
/* END PLACE */


/*SINGLE PAGE AGAINT*/
.abcxyz{
	margin-top: 2%;
}
.tab-type{
	/*height: 600px;*/
	overflow: hidden;
	padding-top: 2%;
}
.tab-type .avatar img{
	width: 100%;
}
.tab-type .tab-des .lb{
	text-transform: uppercase;
	font-size: 125%;
	color: #333;
}
.tab-type ul{
	padding: 0;
}
.tab-type ul li{
	list-style-type: none;
}
.tab-type .tab-des .des-main{
	padding-left: 20px;
}
.tab-type .tab-des .des-main span{
	padding-left:10px;
	padding-right:10px;
	border: 1px solid;
	color: #75c5cf;
	cursor: pointer;
}
.tab-type .tab-des .lb span{
	padding-left:10px;
	padding-right:10px;
	color: #75c5cf;
	cursor: pointer;
}
.tab-slide{
	margin-top: 2%;
}
.tab-slide img{
	height: 250px;
	width: 250px;
	object-fit: cover;
	overflow: hidden;
	padding: 10px;
}
.comments {
  margin: 2.5rem auto 0;
  /* max-width: 60.75rem; */
  padding: 0 1.25rem;
}
.abcxyz h3{
	text-transform: uppercase;
}
.comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 6rem;
}
.photo .avatar {
  height: 4.25rem;
  width: 4.25rem;
  border-radius: 50%;
  background-size: contain;
}

.comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.comment-block textarea {
  width: 100%;
  resize: none;
  border-color: #00000020;
}
.comment-block span {
	margin-bottom: 10px;
}
.comment-text {
  margin-bottom: 1.25rem;
}

.bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.comment-date {
  float: left;
}

.comment-actions {
  float: right;
}
.comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.comment-actions li:hover {
  color: #0095ff;
}
.panel-title a:hover,.panel-title a:focus{
	text-decoration: none;
	color: #75c5cf;
	font-weight: 500;
}
.comment-block .rating.score {
	padding: 3px 1px  !important;
	float: left;
	margin-right: 5px;
	top: -3px;
	width: 20px;
	height: 20px;
	text-align: center;
	font-size: 12px;
}
.comment-box {
	margin-top: 30px;
	position: relative;
}
.cmt-content {
	padding-right: 60px;
}
.cmt-send {
	position: absolute;
	right: 10px;
	top: 30px;
}



.top25-item.section-mylist {
	margin-top: 0;
}
.top25-item.section-mylist .rank-content {
	padding-left: 0;
}
.mylist-item.hotel.left {
	padding-left: 0;
	padding-right: 5px;
}
.mylist-item.hotel.right {
	padding-right: 0;
	padding-right: 5px;
}


.avatar {
	border-radius: 999px;
}


.article-info .page-controls {
	padding: 6px 5px 5px;
}
.list {
	list-style: circle;
}
.container.type .nav.nav-tabs li a {
	text-transform: uppercase;
}