.starrr {
  display: inline-block; }
  .starrr a {
    font-size: 20px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none; 
  }
  .starrr a:hover {
    color: #FFD119;
  }
